<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <!-- img src="/smoothie.png" alt=""-->
  </div>
  <div class="headings">
    <h2>Welcome to app</h2>
    <h3>java script web token</h3>
    <a href="/smoothies" class="btn">show files</a>
  </div>
</header>


<%- include('partials/footer'); -%>
